#google-button{
    padding: 12px 18px;
    background-color: white;
    border-color: white;
    color:#000000;
    font-weight: bold;
    font-style: "Roboto"
}

#facebook-button{
    padding: 12px 18px;
    background-color: #3C5A99;
    border-color: #3C5A99;
    color:white;
    font-weight: bold;
}
